.footer {
  background-color: $color-violent-violet;
  padding: 24px 0;

  &__inner {
    font-family: $second-font-family;
    font-size: 14px;
    line-height: 24px;
    color: $color-white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;

    &-hidden {
      display: none;
    }

    &-copy {
      margin-left: -16px;
    }

    &-social {
      margin-bottom: auto;
    }

    &-links {
      text-align: right;
    }
  }

  &__copyright {
    margin-top: 18px;
    padding-left: 8px;
  }

  &__link {
    font-family: $second-font-family;
    font-size: 14px;
    line-height: 24px;
    color: $color-white;
    text-transform: uppercase;
    padding: 1px 5px;
    margin-left: -5px;
    display: inline-block;
    border: 1px solid transparent;
    transition: border-color $transition-duration;

    .is-device-desktop &:hover,
    .is-device-tablet &:active,
    .is-device-mobile &:active {
      border-color: $color-white;
    }
  }

  @include desktop {
    &__inner {
      font-size: 19px;
    }

    &__col {
      flex-direction: row;
      align-items: center;

      &-hidden {
        display: flex;
        flex-direction: column;
        margin: auto;

        li:not(:last-child) {
          margin-right: 30px;
        }
      }

      &-links {
        text-align: left;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        border-left: 2px dotted $color-white;
      }

      &-social {
        display: flex;
        margin-top: auto;
        padding-right: 48px;
      }

      &--right {
        flex-grow: 1;
        justify-content: flex-end;
        max-width: 1500px;
      }
    }

    &__copyright {
      margin-top: 0;
      margin-left: -8px;
      padding-left: 0;
    }

    &__link {
      padding: 5px;
      font-size: 19px;
      line-height: 27px;
    }
  }

  @include desktop-xl {
    &__col {
      &-hidden {
        flex-direction: row;
      }
    }
  }
}
