.public {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px dotted $color-night-rider;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &--row { 
        display: flex;
    }

    &--pdf {
        position: relative;
        padding-left: 35px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 30px;
            height: 30px;
            background: url("../img/sprites/svg/pdf.svg") center/contain no-repeat;
        }
    }

    &__head {
        display: block;
    }

    &__title {
        display: inline;
        margin: 0;
        font-size: 25px;
        line-height: 24px;
        color: $color-violent-violet;
        text-transform: none;
    }

    &__name {
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        line-height: 24px;
        color: $color-violent-violet;
        white-space: nowrap;
    }
    
    &__main {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: $color-violent-violet;
    }

    &__date {
        font-family: "Basic Sans Bold";
        font-size: 17px;
        line-height: 24px;
        color: $color-persian-red;
        vertical-align: middle;
    }

    &__col-7 {
        width: 70%;
        padding-right: 20px;
    }

    &__col-3 {
        width: 30%;
        flex-shrink: 0;
    }

    &__icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    &__date &__icon {
        margin-left: 8px;
        margin-right: 0;
        vertical-align: middle;
    }

    &__button {
        display: flex;
        text-align: left;
        padding: 0;
        font-family: "Open Sans SemiBold";
        font-size: 13px;
        line-height: 17px;
    }

    @include tablet-large {
        padding: 20px 0;

        &--pdf {
            padding-left: 42px;

            &:before {
                top: 25px;
            }
        }

        &__title {
            font-size: 32px;
            line-height: 35px;
        }

        &__name {
            font-size: 26px;
            line-height: 35px;
        }

        &__date,
        &__main {
            font-size: 24px;
            line-height: 35px;
        }

        &__button {
            padding: 5px 0;
            font-size: 18px;
            line-height: 24px;
        }
    }
}