.report {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__img-wrapper {
        min-width: 225px;
        max-width: 100%;
        min-height: 300px;
        margin: auto;
        background: $color-violent-violet;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__icon {
        width: 26px;
        height: 26px;
        margin-right: 8px;
    }

    &__name {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-family: "Open Sans SemiBold";
        font-size: 18px;
        line-height: 30px;
        color: $color-woody-brown;
    }

    @include tablet {

        &__img-wrapper {
            min-width: 307px;
            min-height: 406px;
        }
    }
}