.section {
    margin-bottom: 44px;

    &__inner {
        padding: 0 6%;

        &--short {
            max-width: calc(1200px + 12%);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__row-box,
    &__box {
        display: flex;
        flex-direction: column;

        &--rtl {
            flex-direction: column-reverse;
        }
        
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__col,
    &__col-img {
        flex-shrink: 0;
        
        &:first-child {
            margin-bottom: 32px;
        }

        &--head {
            margin-right: 0!important;
            max-width: 50vh;
        }
    }

    &__col-img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 175px;
        }
    }

    &__image {
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__text {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col &__text {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__decor {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 60vw;
            height: 60vw;
            max-width: 825px;
            max-height: 825px;
            right: 0;
            top: 0;
            transform: translate(75%, calc(-50% - 30px)) rotate(180deg);
            opacity: .35;
            background: url("../img/decor-dark.svg") center/contain no-repeat;
        }

        &--left {
            
            &:before {
                left: 0;
                right: auto;
                transform: translate(-75%, calc(-50% - 30px));
            }
        }
    }

    &__map {
        background: rgb(208, 233, 253) url("../img/map.jpg") top center/contain no-repeat;
        height: 40vw;
        // opacity: .64;
        max-height: 753px;
    }

    &__col-report {
        padding: 15px;
    }

    @include tablet-large {
        margin-bottom: 84px;
       
        &__text {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 56px;
        }
        
        &__row-box,
        &__box {

            &:not(:last-child) {
                margin-bottom: 48px;
            }
        }

        &__box {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__col,
        &__col-img {

            &:first-child {
                margin-bottom: 0px;
                margin-right: 50px;
            }
        }

        &__col {
            width: calc(50% - 25px);
        }

        &__col-1 {
            width: calc(30% - 25px);
        }

        &__col-3 {
            width: calc(70% - 25px);
        }

        &__title {

            &--with-arrow {
                margin-bottom: 0;
                padding-bottom: 80px;
                position: relative;
                
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 80px;
                    width: 75%;
                    background: url("../img/1.svg") center/contain no-repeat;
                }
            }
        }

        &__decor {
    
            &:before {
                top: 50%;
                transform: translate(75%, -50%) rotate(180deg);
            }

            &--left {
            
                &:before {
                    transform: translate(-75%, -50%);
                }
            }

            &--top {

                &:before {
                    top: -75px;
                }
            }
        }

        &__col-report {
            padding: 30px;
        }
    }
}

.section-center {
    text-align: center;

    .section__text {
        text-align: left;

        @include tablet-large {
            text-align: center;
        }
    }
}

.section-intro {
    overflow: hidden;

    &__title {
        max-width: 275px;
        margin: 0;
        position: relative;
        z-index: 1;
    }
    
    &__inner {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        min-height: 50vh;
    }

    &__video-wrapper {
        display: none;
    }

    &__video-wrapper,
    &__img-wrapper {
        margin-left: auto;
        width: 125%;
        position: relative;
        height: 0;
        padding-bottom: 125%;
    }

    &__img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        overflow: hidden;
    }

    &__decor {
        position: absolute;
        width: 95%;
        height: 95%;
        right: 20%;
        top: 25%;
        background: url("../img/decor.svg") center/contain no-repeat;
    }

    @include tablet {

        &__img-wrapper,
        &__video-wrapper {
            padding-bottom: 87%;
            width: 87%;
            margin-right: -8%;
        }
    }

    @include tablet-large {

        &__title {
            position: absolute;
            left: 45px;
            bottom: 0;
            max-width: 490px;
        }

        &__img-wrapper,
        &__video-wrapper {
            display: block;
            margin-top: -23%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                overflow: hidden;
            }

            &.hidden-desktop {
                display: none;
            }
        }

        &__decor {
            right: 52%;
            top: 29%;
            width: 78%;
            height: 93%;
        }
    }

    @include desktop {

        &__title {
            bottom: 20%;
        }
    }
}

.section-bg,
.section-no-bg {
    padding: 30px 0;

    @include tablet-large {
        padding: 75px 0;
    }
}

.section-bg {
    background: $color-alice-blue;
}

.section-top {

    @include tablet-large {
        padding-top: 100px;
    }

    @include desktop {
        padding-top: 180px;
    }
}

.section-table {
    overflow: hidden;
}

.section-news-list {
    padding-bottom: 48px;
}