footer.footer
    .container.container--wide 
        .footer__inner 
            .footer__col.footer__col-copy
                a(href="/").logo 
                    img(src="img/logo-white.png" alt="Coretag Targeted Diagnostics").logo__img
                .footer__copyright © 2021 CORETAG
            .footer__col.footer__col--right
                ul.footer__col-hidden
                    li
                        a(href="/subscribe.html").footer__link Subscribe To Our Newsletter
                    li 
                        a(href="").footer__link Follow Us On Our Social Channels
                .footer__col-social
                    ul.social
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('linkedin')
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('twitter')
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('youtube')
                ul.footer__col-links
                    li
                        a(href="").footer__link Terms of Use
                    li 
                        a(href="").footer__link Legal Notice
                    li 
                        a(href="").footer__link Privacy Notice
                    li
                        a(href="").footer__link Cookie Policy
                    li 
                        a(href="").footer__link Code of Conduct
