footer.footer
    .container.container--wide 
        .footer__inner 
            .footer__col.footer__col-copy
                a(href="/").logo 
                    img(src="img/logo-white.png" alt="CORETAG").logo__img
                .footer__copyright © 2021 CORETAG
            .footer__col.footer__col--right
                ul.footer__col-hidden
                    li
                        a(href="/subscribe.html").footer__link SUBSCRIBE TO OUR NEWSLETTER
                    li 
                        a(href="").footer__link FOLLOW US ON OUR SOCIAL CHANNELS
                .footer__col-social
                    ul.social
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('linkedin')
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('twitter')
                        li.social__item
                            a(href="/" target="_blank" rel="noopener noreferrer").social__link
                                +svg('youtube')
                ul.footer__col-links
                    li
                        a(href="").footer__link TERMS OF USE
                    li 
                        a(href="").footer__link LEGAL NOTICE
                    li 
                        a(href="").footer__link PRIVACY NOTICE
                    li
                        a(href="").footer__link COOKIE POLICY
                    li 
                        a(href="").footer__link CODE OF CONDUCT 
