header.header
    .container.container--wide
        .header__inner
            a(href="/").logo
                img(src="img/logo.png" alt="CORETAG").logo__img
            .header__menu
                +menu