extends pug/base

prepend vars
  //-
  - title = 'Your care is our core'
  

append vars
  //-
  - lightMenu = true

block content
  //-
  main.main
    include ./pug/section-intro.pug
    include ./pug/section.pug

    +section-intro("img/img1.jpg", "img/img2-big.jpg", "YOUR CARE IS OUR CORE")

    +section-text(null, "Wie kent er niet iemand die kanker heeft, heeft gehad, of eraan is overleden? Kanker komt in een groot aantal varianten voor. Sommige soorten zijn inmiddels goed te behandelen, bij andere is de overlevingskans nog laag. De behandeling van deze ziekte is bovendien vaak ingrijpend. Voor de patient, maar ook voor familie en vrienden. Bij Coretag ontwikkelen we technologieën zodat de impact van deze ziekte minder groot wordt. We willen kanker in een eerder stadium kunnen opsporen én de effectiviteit van bestaande behandelingen in een vroegtijdig stadium kunnen aantonen. Ten slot willen we medicijnen maken zodat de overlevingskans zelfs bij de kwaadaardigste soorten kanker toeneemt. Zo kunnen we allemaal langer genieten van de tijd die we hebben met vrienden en familie.").section-center

    section.section.section-bg
      .container
        .section__box
          .section__col
            .section__image 
              img(src="img/1.jpg", alt="HET OPSPOREN VAN KANKER")
          .section__col
            h2 HET OPSPOREN VAN KANKER
            p.section__text Coretag ontwikkelt methoden om met heel kleine stofjes, tracers, naar bijvoorbeeld necorsecellen te sturen. Deze necrosecellen ontstaan alleen als er sprake is van een ziekte zoals kanker. De tracer kan de necrosecel binnendringen. Aan de tracer hangt een radiolabel zodat met CT of PET scan precies kan worden gezien waar de kanker zit, groeit of afneemt. Deze techniek is veelbelovend omdat het heel nauwkeurig is, waardoor zieke cellen en uitzaaiingen in een vroegtijdig stadium kunnen worden opgespoord. Ook kan in de beginfase van een chemokuur het effect van de behandeling worden aangetoond. Slaat de kuur niet aan, dan hoeft deze niet te worden afgemaakt. Zo wordt de patiënt een belastende kuur en de maatschappij kosten bespaart.<br>Wanneer is deze techniek beschikbaar? Op dit moment zijn we nog volop aan het onderzoeken. We weten dat de tracer niet giftig is en na te zijn ingespoten wordt deze gewoon na een paar dagen is uitgeplast. Van de verschillende radiolabels is ook bekend wat deze in het menselijk lichaam doet. We kunnen daarom vanaf… onderzoek doen mensen om te laten zien dat onze methode werkt.

    section.section.section-center
      .container
        .section__inner
          blockquote.blockquote 
            p.blockquote__text “Let difficulties make us better, not bitter.”
            .blockquote__note 
              p.blockquote__strong Bibian Mentel, medalwinning Paralympic Snowboarder
              p.blockquote__desc Facebook page, 09 Jul 2017

    section.section
      .container
        .section__box
          .section__col
            h2 DE DIAGNOSE VAN HARTEN HERSENINFACTEN
            p.section__text Dezelfde stofjes die we inzetten om kanker op te sporen kunnen we gebruiken om medicijnen naar een kankercelt te transporteren. Dat kunnen dan bijvoorbeeld radioactieve stoffen zijn. Omdat de bestraling dan heel nauwkeurig en gericht is, verwachten we dat de bijeffecten laag zijn. In ieder geval lager dan de bijwerkingen van de traditionele bestraling.<br>We richten ons in eerste instantie op solide kankers waar nu de overlevingskans laag is. Denk aan bepaalde soorten long- en alvleesklierkanker.<br>We beginnen met deze soorten omdat we daar de grootste impact kunnen hebben. Voordat we met mensen kunnen testen, is er nog het nodige onderzoek nodig. Dat doen we met de beste wetenschappers. En ook al willen we snel het duurt nog een tijd voordat onze behandelmethoden beschikbaar zijn. Wij zijn overtuigd dat onze aanpak gaat werken en dat we daarmee de gevolgen van deze vreselijke ziekte kunnen beperken. Voor onszelf, voor jou en je familie en vrienden. Het gaat tenslotte about you.
          .section__col
            .section__image 
              img(src="img/2.jpg", alt="DE DIAGNOSE VAN HARTEN HERSENINFACTEN")