extends pug/base

prepend vars
  //-
  - title = 'Corporate governance'

append vars
  //-
  - lightMenu = true

block content
  //-
  main.main
    include ./pug/section-intro.pug

    +section-intro("../img/img3.jpg", "../img/img6-big.jpg", "Corporate governance")