extends pug/base

prepend vars
  //-
  - title = "FAQ’S"

append vars
  //-

block content
  //-
  main.main
    include ./pug/section.pug

    section.section.section-top
        .container
            +breadcrumb(["CORPORATE PROFILE"])

    section.section.section-last
        .container
            .section__inner.section__inner--short
                h1.center FAQ’S
            
            .section__inner.section__inner--short
                .accordion.js-acc
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
                    .accordion__item
                        button.accordion__header.js-acc-header
                            +svg('acc-arrow').accordion__arrow
                            h3.accordion__title WHERE IS CORETAG’S HEADQUARTERS?
                        .accordion__content
                            p Coretag’s headquarters office is located at:
                            .contact-card 
                                address 
                                    span Switzerland Innovation Park
                                    span Basel Area
                                    span Gewebestrasse 24
                                    span 4123 Allschwil
                                    span Switzerland
                                    a(href="tel:41765556382").link.link--contact +41-765-5563-82
