extends pug/base

prepend vars
  //-
  - title = 'Homepage'

append vars
  //-

block content
  div(style="height: 100vh; padding:200px 50px;")
    a(href="home.html") Homepage
    br
    a(href="care.html") YOUR CARE IS OUR CORE
    br
    a(href="necrosis.html") OUR NECROSIS PLATFORM
    br
    a(href="pipeline.html") OUR PIPELINE
    br
    a(href="nc-scan.html") NC-Scan® 155 ln
    br
    a(href="news.html") Our News
    br
    a(href="news-detail.html") News Detail
    br
    a(href="coretag.html") CORETAG PER 1 JULI 2021 OP DE NASDAQ
    br
    a(href="publications.html") Publications
    br
    a(href="subscribe.html") Subscribe
    br
    a(href="targeting.html") Targeting
    br
    a(href="contact.html") Contact
    br
    a(href="corporate-profile.html") Corporate Profile
    br
    a(href="for-you.html") We Make It Work For You
    br
    a(href="events.html") Events
    br
    a(href="reports.html") Annual Reports
    br
    a(href="presentation.html") Presentation
    br
    a(href="press-releases.html") Press releases
    br
    a(href="faq.html") FAQ’S
    br
    a(href="corporate-governance.html") Corporate governance
    br
    