extends pug/base

prepend vars
  //-
  - title = 'Our news'

append vars
  //-

block content
  //-
  main.main
    include ./pug/section.pug

    section.section.section-center.section-top.section-last
        .container
            .section__inner
                h1 Our news
                form.form(action="" method="post") 
                  .field 
                    input.input(type="text" placeholder="Filter category" name="category")
                .section__box
                  +card({
                    date: "19 februari 2021",
                    title: "NOVARTIS NEEMT PER 1 JANUARI CORETAG OVER",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "7 april 2021",
                    title: "NC-TRACER START FASE III ONDERZOEK",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "9 juli 2021",
                    title: "CORETAG PER 1 JULI 2021 OP DE NASDAQ",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "19 februari 2021",
                    title: "NOVARTIS NEEMT PER 1 JANUARI CORETAG OVER",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "7 april 2021",
                    title: "NC-TRACER START FASE III ONDERZOEK",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "9 juli 2021",
                    title: "CORETAG PER 1 JULI 2021 OP DE NASDAQ",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "19 februari 2021",
                    title: "NOVARTIS NEEMT PER 1 JANUARI CORETAG OVER",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "7 april 2021",
                    title: "NC-TRACER START FASE III ONDERZOEK",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                  +card({
                    date: "9 juli 2021",
                    title: "CORETAG PER 1 JULI 2021 OP DE NASDAQ",
                    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a arcu aliquam, congue tortor quis, blandit neque. Maecenas condimentum erat non ipsum ornare placerat. Aliquam pretium turpis sit amet purus scelerisque, sed varius mauris dapibus.",
                    link: "/"
                    })
                
                +pagination()