extends pug/base

prepend vars
  //-
  - title = 'Presentations'

append vars
  //-

block content
  //-
  main.main
    include ./pug/section.pug

    section.section.section-top
      .container
        +breadcrumb(["CORPORATE PROFILE"])

    section.section.section-center.section-last
        .container
            .section__inner.section__inner--short
                h1 Presentations
            .section__row-box
                .public.public--pdf
                    a(href="").public__head 
                        h5.public__title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    time.public__date February 4, 2021
                .public.public--pdf
                    a(href="").public__head 
                        h5.public__title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    time.public__date February 4, 2021
                .public.public--pdf
                    a(href="").public__head 
                        h5.public__title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    time.public__date February 4, 2021
                .public.public--pdf
                    a(href="").public__head 
                        h5.public__title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    time.public__date February 4, 2021