// stylelint-disable scss/dollar-variable-empty-line-before

// Fonts
$global-font-weight: 400;
$global-font-family: "Open Sans", sans-serif;
$second-font-family: "Basic Sans", sans-serif;

$transition-duration: 0.3s;

// Colors
$color-black: #000;
$color-white: #fff;
$color-violent-violet: #1f1646; 
$color-woody-brown: #574545;
$color-persian-red: #c23b33;
$color-night-rider: #392e2e;

$global-font-color: $color-woody-brown;

$color-midnight-blue: #211261;
$color-alice-blue: #f7fbff;
$color-dim-gray: #707070;
$color-tropical-blue: #B2CBE5;
$color-medium-carmine: #bb352e;